{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "arrowParens": "always",
    "singleQuote": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
